.hero {
    padding-top: 20px;
    background-color: #eedbfa;
    color: #481e7f;
}

.hero__video-section {
    overflow: hidden;
    position: relative;
    z-index: 10;
}

.hero__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.js-t-title-line::before,
.js-t-title-line::after,
.home-title::before,
.home-title::after {
    content: none !important;
}
.hero .js-t-title-line svg {
    width: 12rem;     /* increase as needed */
    height: 12rem;
    padding-right: 3rem;
}
