.hero {
    padding-top: 20px;
    background-color: #e9cdfb;
}

.hero__video-section {
    overflow: hidden;
    position: relative;
    z-index: 10;
}

.hero__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}


