/* Custom styles for ContentBlock extracted section */

.contentblock-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    min-height: 80vh;
    background: #FFCC00;
}

.contentblock-left {
    flex: 0 0 35vw;
    /* Increased width to fit the 410px image */
    min-width: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
    padding-left: 2vw;
    font-size: 1.6rem;
    font-family: serif;
    color: #3a1c1c;
}

.sliding-image-container {
    width: 410px;
    height: 410px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border-radius: 0;
    box-shadow: none;
    /* margin-left: 400px; - Removed to show image */
}



.sliding-image {
    width: 410px;
    height: 410px;
    object-fit: cover;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    transition: opacity 0.5s;
}


.contentblock-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 32px;
}


.contentblock-title {
    font-size: 2.5vw;
    font-family: serif;
    font-weight: 600;
    text-align: left;
    margin-bottom: 2vw;
    margin-top: 0;
    color: #000;
    max-width: 600px;
    margin-left: auto;
    color: #3d008e;
    margin-right: auto;
}


.contentblock-desc {
    max-width: 600px;
    font-size: 1.3rem;
    color: #000;
    text-align: left;
    margin-bottom: 2vw;
    font-family: serif;
}


.contentblock-purpose {
    font-size: 2rem;
    font-family: serif;
    text-align: left;
    margin-bottom: 2vw;
    font-weight: 700;
    color: #000;
    max-width: 600px;
    margin-left: 320px;
    margin-right: auto;
}

.contentblock-links {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    width: 100%;
    max-width: 600px;
    margin-bottom: 0.5vw;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
}


.contentblock-link {
    font-size: 1.4rem;
    font-family: serif;
    color: #000;
    text-decoration: none;
    border-bottom: 2px solid #000;
    padding-bottom: 4px;
    transition: color 0.2s, border-color 0.2s;
}

.contentblock-link:hover {
    color: #555;
    border-color: #555;
}